body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    border-bottom: 1px solid black;
    background: darkturquoise;
    font-size: 2em;
    margin-bottom: 0.25em;
}

#status {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 1em;
    overflow: auto;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    border-top: 1px solid black;
    background: darkturquoise;
    font-size: 0.7em;
    padding: 0.1em;
}

.feed {
    border: 1px solid black;
    padding:0;
    width: 19.5em;
    overflow: hidden;
    font-size: 0.8em;
}

.feedtitle {
    font-size: 1.25em;
    margin: 0em 0 0.3em;
    border-bottom: 1px solid #666;
    background: darkturquoise;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 1.25em;
}

.feedbody {
    position: static;
    top: 1em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.stat {
    overflow: hidden;
    font-size: 1em;
    height: 1.25em;
    padding: 0;
    margin:0;
}
.stat:hover {
    background: lightblue;
    color: black;
}

.stathead {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.statname {
    display: inline-block;
    width: 9.5em;
}

.statval {
    display: inline-block;
    width: 5em;
    text-align: right;
}

.alarmnorm {
}

.alarmlow {
    background: red;
    color: yellow;
}
.alarmhigh {
    background: yellow;
    color: red;
}