body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#header {
    border-bottom: 1px solid black;
    background: darkturquoise;
    font-size: 2em;
    margin-bottom: 0.25em;
}

#status {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 1em;
    overflow: auto;
}

#legend {
    position: absolute;
    right: 0;
    bottom: 1em;
    width: 10em;
    border-left: 1px solid black;
    border-top: 1px solid black;
    font-size: 0.7em;
    padding-bottom: 3px;
    text-align: center;
}
#legend h1 {
    background: darkturquoise;
    margin:0;
    padding:1px;
    font-size: 0.9em;
    font-weight: bold;
}

#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    border-top: 1px solid black;
    background: darkturquoise;
    font-size: 0.7em;
    padding: 0.1em;
}

#graph {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    height: 120px;
    font-size: 0.6em;
    z-index: 10;
}

#graph path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}
#graph text {
    text-anchor: middle;
}

.feed {
    border: 1px solid black;
    padding:0;
    margin: 2px;
    float:left;
    width: 19.5em;
    overflow: hidden;
    font-size: 0.8em;
}

.feedtitle {
    font-size: 1.25em;
    margin: 0em 0 0.3em;
    border-bottom: 1px solid #666;
    background: darkturquoise;
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 1.25em;
}

.feedbody {
    position: static;
    top: 1em;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.stat, .statheading {
    overflow: hidden;
    font-size: 1em;
    height: 1.25em;
    padding: 0;
    margin:0;
}
.stat:hover {
    background: lightblue;
    color: black;
}

.stathead, .stathead:hover {
    border-bottom: 1px solid black;
    font-weight: bold;
}

.statname {
    display: inline-block;
    width: 9.5em;
}

.statval {
    display: inline-block;
    width: 5em;
    text-align: right;
}

/* Normal Value */
.alarmnorm {
}

/* Value is below alarm.low threshold */
.alarmlow {
    background: red;
    color: yellow;
}

/* Value is above alarm.high threshold */
.alarmhigh {
    background: yellow;
    color: red;
}

/* Value is missing - colour is a Dr Who reference */
.alarmfail {
    background: magenta;
    color: yellow;
}

/* Application status ok */
.ok {
    background: green;
    color: yellow;
}
